[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pydantic = "*"
pydantic-settings = "*"
fastapi = "*"
python-dotenv = "*"
alembic = "*"
psycopg2-binary = "*"

[dev-packages]
uvicorn = "*"

[requires]
python_version = "3.9"
